.container {
    width:100%;
    min-height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-between; 
    gap: 8px;
    border-radius: 8px;
    box-shadow: 0 0 8px 0 rgba(0,0,0,0.2);
    padding: 16px;
    background-color: white;
}

.image {
    width: 100%;
    max-width: 360px;
    aspect-ratio: 10/8;
    object-fit: contain;
    border-radius: 8px;  
    background-color: #f9f9f9;
}

.description {
    font-weight: 500;
    width: 100%;
    min-height: 70px;
    font-size: 1.6rem;
 
}

span {
    font-size: 1.4rem;  
}

.button {
    width: 100%;
    padding: 4px;
    border-radius: 8px;
    background-color: white;
    box-shadow: 0 0 8px 0 rgba(0,0,0,0.1); 
    border: 1px solid  #f9f9f9;   
}

